<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293413121654-2g67f733bi9qm2md4rn67i2qnd1k0obt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293413121654-2g67f733bi9qm2md4rn67i2qnd1k0obt</string>
	<key>API_KEY</key>
	<string>AIzaSyCcDxmmrNVUnf72J9vLe02xxQhOWkGoLzE</string>
	<key>GCM_SENDER_ID</key>
	<string>293413121654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatpal</string>
	<key>PROJECT_ID</key>
	<string>chatpal-93af1</string>
	<key>STORAGE_BUCKET</key>
	<string>chatpal-93af1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293413121654:ios:1a2c8b3dfa89d9304b7957</string>
</dict>
</plist>